@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color:#111111;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: 'Playfair Display', serif;
}


:root{
 --bg-color: #111111;         /* Fundo escuro principal */
  --text-primary: #D3D6DA;     /* Texto principal em destaque (VINICIUS) */
  --text-secondary: #32363B;   /* Texto descritivo e links de navegação (cinza) */
  --accent-color: #ECB613;
}

header{
    display: flex;
    justify-content: space-between;
    color: var(--text-primary);
    margin: 30px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;;
}
nav a{
    color: var(--text-primary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav button{
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-weight: 600;
}
nav button:hover{
    color: var(--accent-color);
     transition: 0.6s;
    animation: pulse 2s infinite;
     background-color: #111111;
}

nav a:hover{
    color: #6e7174;
    transition: 0.4s;
}
.linha hr{
    color: var(--text-secondary);
    border-width: 0.2px;
    /* margin-top: 40px; */
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 120px 20px;
}

.hero h1{
    font-size: 10vw;
    color: var(--text-primary);
    font-weight: 700;
    font-weight: 800;
}
.hero p{
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;

}

.hero .descricao{
    color: var(--text-secondary);
    font-size: 2vw;
    /* max-width: 600px; */
    font-style: italic;
}
.engin p{

    margin-top: 30px;

}

.explore-work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: 190px; */
}

.scroll-arrow {
    display: inline-block;
    color: #e3a61d; /* Cor dourada da imagem */
    font-size: 30px; /* Tamanho da seta */
    font-family: Arial, sans-serif; /* Fonte para garantir que o 'v' pareça uma seta */
    cursor: pointer;
    
    /* Aplicando a animação */
    animation-name: scrollDown; /* Nome da animação definida nos keyframes */
    animation-duration: 2s; /* Duração de um ciclo completo */
    animation-iteration-count: infinite; /* Quantas vezes ela se repete */
    animation-timing-function: ease-in-out; /* Suavidade no início e fim */
}

/* Opcional: Efeito no hover (passar o mouse) */
.scroll-arrow:hover {
    animation-play-state:running; /* Pausa a animação ao passar o mouse */
    color: #ffd700; /* Muda para um dourado mais brilhante */
}
html {
    scroll-behavior: smooth;
}

.foto{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: end;
    justify-content: center;
    margin: 180px;
}
.foto img{
    width: 600px;
    height: 600px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto h1{
    color: var(--text-primary);
    font-size: 50px;
    font-weight: 500;
}

.texto .yellow{
    color: var(--accent-color);
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary);
    margin:30px;
    text-align: justify;
}
.p p{
    font-size: 18px;
    align-items: center;
    justify-content: center;
}


.rank{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 40px;
}

.c{
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 5px;
}
.c p{
    font-size: 20px;
    color: var(--text-secondary);
}
.c h1{
    font-size: 30px;
}

.arsenal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      gap: 10px;
      margin: 100px;
}
.arsenal h1{
    font-size: 4rem;
    color: var(--text-primary);
    font-weight: 600;
}
.arsenal p{
    font-size: 17px;
    color: var(--text-secondary);
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
}
.card1{
    display: flex;
    flex-direction: column;
    background-color: #18181B;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: var(--text-secondary);
    transition: all 0.5s ease-in-out;
}

.card1:hover{
     /* animation: pulse 2s infinite; */
     cursor: pointer;
     color: var(--text-primary);
     /* background-color: #ff0000; */
}
/* .card1 .gray:hover{
     color: var(--text-primary);
} */
.card1 p{
    font-size: 10px;
    color: var(--text-primary);
    font-weight: 700;
    font-family: 'Press Start 2P' , sans-serif;
}
.card .gray{
    font-style: 'Playfair Display', serif;
    color: var(--text-secondary);
    font-size: 10px;
}
.card-html:hover{
    background-color: #e60707;
    border: none;
}
.card-css:hover{
    background-color: #080cda;
    border: none;
}
.card-js:hover{
    background-color: #e0e40e;
    border: none;
}

.card-sql:hover{
    background-color: #336791;
    border: none;
}
.card-jyt:hover{
    background-color: #0cd40c;
    border: none;
}
.card-py:hover{
    background-color: #032b4b;
    border: none;
}
.card-java:hover{
    background-color: #f8981d;
    border: none;
}

.work{
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    justify-content: left;
    padding-left: 100px;
    gap: 10px;
    margin-bottom: 100px;
    margin-top: 200px;
}
.work h1{
    font-size: 4rem;
    color: var(--text-primary);
}
.work p{
    color: var(--text-secondary);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
}
/* .linha hr{
    display: flex;
    justify-content: right;
} */
 .card-projeto{
     display: flex;
    width: 500px;
    height: 400px;
    border-radius: 15px;

    background-image: url("../assests/tesla.jpg");
    background-size: cover;
    background-position: center;

    position: relative;

   
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* ← adiciona isso */
    overflow: hidden;
}

.conteudo{
    text-align: center;
    color: white;

    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.4s;
}

.card-projeto:hover .conteudo{
    opacity: 1;
}

 .card-projeto .conteudo a{
    margin-top: 10px;
    padding: 8px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.projeto{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
      /* padding: 60px 40px; */
}
.dec{
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 500px;
    align-items: flex-start; /* ← adiciona isso */
}
.dec h2{
    color: var(--accent-color);
    font-size: 1rem;
}

.dec h1{
    color: var(--text-primary);
    font-size: 3rem;

}
.t{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-size: 18px;
    /* gap: 10px;
    padding: 10px; */
    /* margin: 10px; */
    margin-top: 10px;
}
.dec p{
    gap: 10px;
}
.tech{
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    gap: 10px;
    margin-top: 10px;
}

.tech1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 15px;
    background-color: #18181B;
    width: 75px;
    height: 25px;
    border: 1px solid ;
    border-color: var(--text-secondary);
    border-radius: 5px;
    margin-top: 5px;
}
.tech1:hover{
    cursor: pointer;
    color: var(--text-secondary);
    transition: 0.5s;
}

.dec a{
    text-decoration: none;
    color: var(--text-primary);
    padding: 0;
    font-weight: 600;
     /* display: inline-block; */
     margin-top: 20px;
}
.dec a:hover{
    color: var(--text-secondary);
    transition: 0.6s;
}




















@keyframes pulse {
    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(177, 87, 29, 0.4); }
    70% { transform: scale(1.05); box-shadow: 0 0 0 10px rgba(177, 87, 29, 0); }
    100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(177, 87, 29, 0); }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-5px); /* Ponto inicial ligeiramente acima */
        opacity: 0.5; /* Começa com opacidade reduzida */
    }
    50% {
        transform: translateY(10px); /* Ponto médio: desliza para baixo */
        opacity: 1; /* Fica totalmente visível */
    }
    100% {
        transform: translateY(-5px); /* Retorna ao ponto inicial */
        opacity: 0.5; /* Retorna com opacidade reduzida */
    }
}